<div  class="content-wrap flex column y-flex-center">
    <div class="head-list flex column y-flex-center">
            <h1 class="title-list">Estos son los animales rescatados recientemente.</h1>
            <p class="sub-list">Si no tubiste suerte con tu mascota, puedes crear tu propia publicacion. </p>
            <div class="btn-public"><a href="#">Publicar mi mascota</a></div>
            <div class="linear-gradient"></div>
    </div>
   
    <div class="flex wrap fondo-buscar space-around">
        
        <div *ngFor="let items of listaMascotas" class="card flex column y-flex-center">
                <div>
                    <img class="img-json" src="{{items.Imagen}}" alt="">
                </div> 
                <div class="div-txt">
                    <p class="tipo"><span class="info-card">Animal:</span> {{items.Tipo}} </p>
                    <p class="ubicacion"><span class="info-card">Ubicacion:</span> {{items.Ubicacion}}</p>
                    <p class="Observacion"><span class="info-card">Observacion:</span> {{items.Observacion}}</p>
                    <p class="rasgos"><span class="info-card">Detalles:</span> {{items.Rasgos}} </p>
                </div>

                <div class="contacto"> <a href="#" class="txt-btn">Contactar</a> </div>
        </div>
    </div>
</div>