$flex:(
    flex:flex,
    inline:inline-flex
  );
  @each $key, $value in $flex{
    %#{$key}{
      display: #{$value};
    }
    .#{$key}{
      @extend %#{$key};
    }
  };
  //  flex-direction: row | row-reverse | column | column-reverse;
  $flexDirection:(
    row:row,
    column:column
  );
  @each $key, $value in $flexDirection{
    %#{$key}{
      flex-direction: #{$value};
    }
    .#{$key}{
      @extend %#{$key};
    }
  };
  .wrap {
    flex-wrap:wrap;
  }
  // justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
  $justifyContent:(
    flex-start:flex-start,
    flex-end:flex-end,
    flex-center:center,
    space-between:space-between,
    space-around:space-around
  );
  @each $key, $value in $justifyContent{
    %#{$key}{
      justify-content: #{$value};
    }
    .#{$key}{
      @extend %#{$key};
    }
  };
  
  // align-items: stretch | flex-start | flex-end | center | baseline;
  $alignItems:(
    y-flex-start:flex-start,
    y-flex-end:flex-end,
    y-flex-center:center,
    y-flex-baseline:baseline,
  );
  @each $key, $value in $alignItems{
    %#{$key}{
      align-items: #{$value};
    }
    .#{$key}{
      @extend %#{$key};
    }
  };

  .reverse {
    flex-direction: row-reverse;
  }