
.main-wrapper,
header,
nav,
main,
section,
footer,
article{
    @extend %width-100-p;
}
  
  .main-wrapper,
  header,
  main,
  section,
  article,
  .content-wrap,
  footer {
    @extend %relative-left;
  }
  
  header{
  background-color: rgb(189, 81, 81);
  box-shadow: 2px 2px 3px 2px rgb(71, 70, 70);
  margin-bottom: 5px;
  position: fixed;
  z-index: 100;
  }
  
  footer  {
    background: rgb(189, 81, 81);
    
  }
  
  .main-wrapper,
  main {
    min-height:100%;
    overflow:hidden;
  
  }
  
  main {
    background-color: rgb(207, 206, 204);
  }
  
.content-wrap {
  @extend %relative;
  max-width:1280px;
  @extend %width-100-p;
  @extend %mauto;
  padding:0;
  float:none;
  
}

    