html {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-sizing: inherit;
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 62.5%;
    overflow-y: scroll;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
  }
  
  img,
  video {
    
    max-width: 100%;
    height: auto;
  }
  
  input:focus,
  a:focus {
    outline: 0;
  }