@for $i from 1 through 10 {
    $k: $i * 5;
    %m-#{$k} {
        margin: #{$k}px;
    }
    .m-#{$k} {
        @extend %m-#{$k};
    }
    %p-#{$k} {
        padding: #{$k}px;
    }
    .p-#{$k} {
        @extend %p-#{$k};
    }
    %mt-#{$k} {
        margin: #{$k}px 0 0 0;
    }
    .mt-#{$k} {
        @extend %mt-#{$k};
    }
    %pt-#{$k} {
        margin: #{$k}px 0 0 0;
    }
    .pt-#{$k} {
        @extend %pt-#{$k};
    }
    %mr-#{$k} {
        margin: 0 #{$k}px 0 0;
    }
    .mr-#{$k} {
        @extend %mr-#{$k};
    }
    %pr-#{$k} {
        margin: 0 #{$k}px 0 0;
    }
    .pr-#{$k} {
        @extend %pr-#{$k};
    }
    %mb-#{$k} {
        margin: 0 0 #{$k}px 0;
    }
    .mb-#{$k} {
        @extend %mb-#{$k};
    }
    %pb-#{$k} {
        margin: 0 0 #{$k}px 0;
    }
    .pb-#{$k} {
        @extend %pb-#{$k};
    }
    %ml-#{$k} {
        margin: 0 0 0 #{$k}px;
    }
    .ml-#{$k} {
        @extend %ml-#{$k};
    }
    %pl-#{$k} {
        margin: 0 0 0 #{$k}px;
    }
    .pl-#{$k} {
        @extend %pl-#{$k};
    }
    %my-#{$k} {
        margin: #{$k}px 0;
    }
    .my-#{$k} {
        @extend %my-#{$k};
    }
    %py-#{$k} {
        margin: #{$k}px 0;
    }
    .py-#{$k} {
        @extend %py-#{$k};
    }
    %mx-#{$k} {
        margin: 0 #{$k}px;
    }
    .mx-#{$k} {
        @extend %mx-#{$k};
    }
    %px-#{$k} {
        margin: 0 #{$k}px;
    }
    .px-#{$k} {
        @extend %px-#{$k};
    }
}

%mnone {
    margin: 0;
}
.mnone {
    @extend %mnone;
}

%pnone {
    padding: 0;
}
.pnone {
    @extend %pnone;
}

%mauto {
    margin: 0 auto;
}
.mauto {
    @extend %mauto;
}