$positions:(
    absolute:'absolute',
    fixed:'fixed',
    relative:'relative',
    static:'static'
) ;
$floats: (
    fleft:'left',
    fright:'right',
    none:'none'
);

@each $key, $value in $positions {
    %#{$key}{
        position:#{$value};
    };
    .#{$key}{
        @extend %#{$key};
    }
}

@each $key, $value in $floats {
    %#{$key}{
        float:#{$value};
    };
    .#{$key}{
        @extend %#{$key};
    }
}

%relative-left {
    @extend %relative;
    @extend %fleft;
}

.relative-left {
    @extend %relative-left;
}

%relative-right {
    @extend %relative;
    @extend %fright;
}

.relative-right {
    @extend %relative-right;
}

@for $i from 0 through 4 {
    $k: $i * 5;
    .top-#{$k} {
        top: #{$k};
    }
    .bottom-#{$k} {
        bottom: #{$k};
    }
    .left-#{$k} {
        left: #{$k};
    }
    .right-#{$k} {
        right: #{$k};
    }
}

$positionsZero:(
    top:0,
    left:0,
    bottom:0,
    right:0
);

@each $key, $value in $positionsZero {
    %#{$key}-#{$value} {
        #{$key}:#{$value}
    }
    .#{$key}-#{$value} {
        @extend %#{$key}-#{$value};
    }
}

