$percent:'%';

@for $i from 1 through 4 {
    $k: $i * 25;
    %width-#{$k}-p {
        width: #{$k}#{$percent};
    }
    %height-#{$k}-p {
        height: #{$k}#{$percent};
    }
    %height-#{$k}-vh {
        height: #{$k}vh;
    }
    @if($k == 100) {
        .full-width {
            @extend %width-#{$k}-p;
        }        
        .full-height {
            @extend %height-#{$k}-p;
        }
        .full-vh-#{$k} {
            @extend %height-#{$k}-vh;
        }
    }@else{
        .width-#{$k} {
            @extend %width-#{$k}-p;
        }        
        .height-#{$k} {
            @extend %height-#{$k}-p;
        }
        .vh-#{$k} {
            @extend %height-#{$k}-vh;
        }
    }
}
