<header>
   <div class="linea-top"></div>
    <div class="content-wrap barra wrap flex y-flex-center space-between  ">
            <img [attr.src]="logo" class="logo flex-start ">
           <a (click)="toggleMenu()" class="flex-end menu"> <img [attr.src]="menuHamb" ></a>

        <div *ngIf="isOpen" [@isOpenNav]="isOpen" class="nav flex row y-flex-center flex-center" (swipeleft)="toggleMenu()">
            <a (click)="toggleMenu()" > <img class="menu-mobile" [attr.src]="close" ></a>
            <ul >

                <li>
                    <a (click)="toggleMenu()" routerLink="/home" routerLinkActive="current-item">
                        Inicio
                    </a>
                </li>
                <li>
                    <a (click)="toggleMenu()" routerLink="/buscar" routerLinkActive="current-item">
                        Buscar
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps?hl=es" (click)="toggleMenu()">
                        Descargar App
                    </a>
                </li>
             </ul>
        </div>
    </div>
    
</header>