<footer>
    <div class="content-wrap foot flex space-between y-flex-start ">
         <div class="links flex flex-start column">
            <a href="#">Condiciones de Servicio</a>
            <a href="#">Trabajo</a>
            <a href="#">Contacto</a>
        </div>

        <p class="title center">Pets Finder S.A 2019</p>

        <div class="redes y-flex-center flex-center ">
           <a href="https://es-la.facebook.com" > <img class="icon" [attr.src]="face" alt=""></a>
           <a href="https://www.instagram.com" > <img class="icon" [attr.src]="instagram" alt=""></a>
           <a href="https://twitter.com " > <img class="icon" [attr.src]="twitter" alt=""></a>
            
        </div>
        <ng-content></ng-content>
    </div>
</footer>
