<div class="content-wrap flex space-between y-flex-end main  wrap" [style.background-image]="'url('+back+')'" >
   
  <div class="item-left ">
            <p class="title-home "> 
            <span class="span-txt">  Bienvenido a la red de busqueda </span> de mascotas mas grande del país!</p>
            <a href="https://play.google.com/store/apps?hl=es" class="to-store flex-start"><img [attr.src]="play" class="play-icon">Descargá la app</a>
      </div>         
   
      <div class="to-search flex-end"> 
            <h2>Comenzá ya <br>
              la busqueda
            </h2>
          <a routerLink="/buscar" class="arrow"> <img [attr.src]="arrow" class="arrow"></a>
      </div>
      
</div>   