/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$percent:'%';
@import './assets/scss/main-set.scss';
@import './assets/scss/positions.scss';
@import './assets/scss/withandheight.scss';
@import './assets/scss/marginandpadding.scss';
@import './assets/scss/globalsets.scss';
@import './assets/scss/flex.scss';
@import './assets/scss/responsive.scss';



// .linea-bottom{
//     border: 0;
//     height: 1px;
//     background-image: linear-gradient(to right, rgba(253, 246, 246, 0), rgba(252, 245, 245, 0.75), rgba(245, 233, 233, 0));
//     margin-bottom: 5px;
    
// }

.barra{
    width: 100%;
    height: 60px;
    

    .logo{
    margin-left: 20px;
    width: 90px;
    height: 30px;
        
    }
    .menu{
        margin-right: 20px;
        width: 25px;
        height: 20px;
      
    }
    .menu:hover{
        animation: aplastar 1s;
    }
    @keyframes aplastar {
        0% {transform: skewX(0);}
        100% {transform: skewX(5);}
    }
    
               
    .menu-mobile{
        animation: rotar 4s ease-out ;
        margin-left: 20px;
    }
    @keyframes rotar {
        0% {transform: rotateZ(0deg);}
      
       100% {transform: rotateZ(2160deg);}
    }
    .menu-mobile:hover{
      animation: rotar-salida 4s ease-out;
    }
    @keyframes rotar-salida {
        0% {transform: rotateZ(0deg);}
      
        100% {transform: rotateZ(-2160deg);}
    }
    
    
   
    .nav {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        transform-origin: left 0;
        background:rgba(0,0,0,.7);
        z-index:600;
        
        ul {
          text-align: center;
          list-style: none;
          li {
            width:100%;
            float:left;
            padding:10px 0;
            a {
              padding:5px;
              color: white;
              font-size:3em;
              text-decoration:none;
              transition: .35s ease-in-out;
              &:hover {
               color: whitesmoke;
              }
            }
            a.current-item {
              color:#da0170;
            
            }
          }
        }
      };
}
 
  


.main{
    max-width: 1200px;
    width: 100%;
    height: 550px;
    margin-top: 30px;
    background-repeat: no-repeat !important;

    .item-left{
        width: 600px;
        margin-top: 20px;
        margin-bottom: 50px;

        .span-txt{
            color: rgb(56, 51, 39);
            font-size: 1.5em;
        }    

        .title-home{
            font-family: sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 4.5em;
            color: rgb(22, 22, 32);
            margin: 50px 0 100px 100px;
        }
        .sub-title-home{
            font-family: sans-serif;
            font-weight: 300;
            font-size: 3em;
            color: black;
            margin: 100px 0 0 100px;
        }
        .to-store{
            font-family: acumin-pro, sans-serif;
            font-style: normal;
            font-weight: 200;
            color: white;
            font-size: 2em;
            margin: 0 0 0 100px;
            transition-duration: .5s;
             }
            .play-icon{
                margin-top: 20px;
                margin-right: 10px ;
                width: 50px;
                height: 50px;
           
               }
        }
        .to-store:hover{
            text-shadow: 1px 1px rgb(37, 36, 36);
        }
        

        .to-search{
            font-family: acumin-pro, sans-serif;
            font-style: normal;
            font-weight: 200;
            color: rgb(18, 18, 32);
            font-size: 4em;
           
            margin: 0 50px 100px 0;
        }
        .arrow{
            width: 50px;
            height: 40px;
            margin: 0 20px 50px 0 ;
            float: right;
        }
        .arrow :hover{
            animation: arrow-mover 1s infinite;
        }
        @keyframes arrow-mover{
        0%{transform: translateX(0px);}
        50%{transform: translateX(10px);}
        100%{transform: translateX(0px);}
        }
    }

    .foot{
        width: 100%;
        height: 80px;
        margin-top: 30px ;
        
        .links{
            margin: 5px 0 40px 29px; 
            a{
              color: whitesmoke;
              margin: 5px;
            }
        }
        .title{
            font-size: 2em;
            font-weight: 700;
            font-family: acumin-pro, sans-serif;
            font-style: normal;
            font-weight: 400;
            color: rgb(235, 228, 228);
        }    

        .redes{
            width: 200px;
            height: 80px;        
            p{
                font-family: acumin-pro, sans-serif;
                font-style: normal;
                font-weight: 400;
                margin:auto;
                color: whitesmoke;
            }
           
            .icon{
                margin: 10px;
                transition-duration: 0.3s ;
            }    
            .icon:hover{
                
                box-shadow: 2px 2px 2px 2px rgb(58, 57, 57);
                transform: translateY(2px);
            }
        }
    
    }
  
.head-list{
    margin-top: 50px;
    padding: 1% 10%;
}    

.linear-gradient{
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(119, 15, 15, 0), rgba(146, 29, 29, 0.8), rgba(141, 43, 43, 0));
    margin: 10px auto;
}

.title-list{
    font-size: 3.9em;
    font-family: acumin-pro;
    margin-top: 50px;
}    
.sub-list{
    font-size: 2em;
    margin-top: 20px;

}

.btn-public{
    width: 130px;
    height: 35px;
    padding: 9px ;
    margin-top: 15px;
    border-style: solid;
    background-color: rgba(169, 169, 169, 0.285);
    border-color: cornflowerblue;
    border-radius: 5px;
    transition-duration: .5s;
    
    a{
        text-decoration: none;
        font-family: acumin-pro;
        font-size: 1.2em;
        color: rgb(31, 31, 109);
    }
}

.btn-public:hover{
    background-color: darkgrey;
}

// cards

.card{
    width: 270px;
    height: 370px;
    background-color: rgb(247, 242, 242);
    transition-duration: .5s;
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.3em;
    font-family: acumin-pro, sans-serif;
    font-style: bold;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(39, 22, 68, 0.36);
    
    .img-json{
        width:100%;
        height: 200px;
        margin: 20px auto;
    }

    .div.txt{
        width: 100%;
        height: 100%;
        margin: 10px 0 10px 10px;
        
    }
    
    .info-card{
        font-size: 1.2em;
        font-family:Helvetica, sans-serif;

    }
    
    .contacto{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        margin: 10px;
        background-color: rgb(158, 76, 76);
        padding: 12px;
        
        .txt-btn{
          
            font-family: Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1em;
            color: cornsilk;
            text-decoration: none;

        }
    }
}

.card:hover{
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.428);
    transform: translateY(3px);
}



                                                // MOBILE

@media screen and(max-width: 700px){
        
   
    .main{
        width: 100%;
        height: 100%;
        background-color: darken($color: #000000e1, $amount: 0);
        background-position: 60%;
        background-position-y: center;

        .item-left{
            width: 600px;
            margin: 50px;
    
            .span-txt{
                color: rgb(71, 64, 49);
                font-size: 1.5em;
            
            }    
    
            .title-home{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 600;
               
                font-size:2em;
                color: rgb(22, 22, 32);
                margin: 50px auto;
            }
            .to-store{
                font-family: acumin-pro, sans-serif;
                font-style: normal;
                font-weight: 200;
                color: white;
                font-size: 1.5em;
                display: none;
                transition-duration: .5s;
                 }
                .play-icon{
                    margin-top: 20px;
                    margin-right: 10px ;
                    width: 50px;
                    height: 50px;
               
                   }
            }
            .to-store:hover{
                text-shadow: 1px 1px rgb(37, 36, 36);
            }
            
    
            .to-search{
                font-family: acumin-pro, sans-serif;
                font-style: normal;
                font-weight: 200;
                color: rgb(18, 18, 32);
                font-size: 2em;
               
                margin: 0 0 20px 20px;
            }
         
        }
}